@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    //configurações globais
    font-family: 'Inter', 'sans-serif';
    margin: 0;
}
img{
    width: 237px;
    height: 229px;
    position: absolute;
    top: 116px;
    left: 120px;
    border-radius: 150px;
}
.nome{
    width: 388px;
    height: 50px;
    position: absolute;
    top: 384px;
    left: 119px;
    font-weight: 700;
    line-height: 43.57px;
    color: #F587DD;
    line-height: 29.05px;
    font-size: 36px;
}
//configuração da bio e das listas
p, li{
    font-weight: 400;
    color: #000000;
    line-height: 29.05px;
    font-size: 24px;
}
.descricao{
    width: 1216px;
    height: 66px;
    position: absolute;
    top: 452px;
    left: 119px;
    
}
.cidade{
    width: 1216px;
    height: 66px;
    position: absolute;
    top: 536px;
    left: 120px;
}
//configurando os h1 dos jogos e musicas favoritos
.favs{
    width: 388px;
    height: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 43.57px;
    color: #F587DD;
}
.jogo{
    position: absolute;
    top: 631px;
    left: 120px;
}
.musica{
    position: absolute;
    top: 814px;
    left: 119px;
}
.retangulo1{
    background-color: #BAF3F6;
    width: 100%; //OBS: coloquei height 100% pra poder preencher a tela inteira, nos tres retangulos
    height: 167px;
    position: absolute;
    top: 620px;
}
.lista1{
    width: 1216px;
    height: 66px;
    position: absolute;
    top: 682px;
    left: 120px;
}
.retangulo2{
    background-color: #BAF3F6;
    width: 100%;
    height: 167px;
    position: absolute;
    top: 803px;
}
.lista2{
    width: 1216px;
    height: 51px;
    position: absolute;
    top: 864px;
    left: 104px;
}
.retangulo3{
    background-color: #D9D9D9;
    width: 100%;
    height: 39px;
    position: absolute;
    top: 985px;
}
h3{
    width: 264px;
    height: 21px;
    position: absolute;
    top: 994px;
    left: 588px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
}